# Core
django==4.0.5
faker==13.14.0
Pillow==9.2.0

# Crispy forms
django-crispy-forms==1.14.0
crispy-bootstrap5==0.6

# IDE code formatter
black==22.6.0

# GitHub
pre-commit==2.20.0

# Upgrade syntax
pyupgrade==2.37.2

# Static analysis
prospector[with_everything]==1.7.7

# Get environment variables
django-environ==0.9.0

# DB Postgres
psycopg2-binary==2.9.3
