{% extends '_base.html' %}

{% block body %}
    <a href="{% url 'contacts:create' %}">
        <button class="btn btn-outline-success">Go to contact creation form
        </button>
    </a>
    <ol>
        {% for contact in contacts %}
            <li style="margin: .2em;">
                <span>{{ contact.contact_name }} - {{ contact.phone_value }}</span>

                <a href="{% url 'contacts:edit' pk=contact.pk %}">
                    <button class="btn btn-outline-secondary">Edit</button>
                </a>
                <a href="{% url 'contacts:delete' pk=contact.pk %}">
                    <button class="btn btn-outline-danger">Delete</button>
                </a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}